<style media="screen">
    body{background: #fff;}

</style>
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="../apps/admin/_static/css/admin.css" rel="stylesheet" type="text/css">
    <script>
        /**
         * 全局变量
         */
        var SITE_URL  = 'http://try.51eduline.com';
        var THEME_URL = 'http://try.51eduline.com/addons/theme/stv1/_static';
        var APPNAME   = 'classroom';
        var UPLOAD_URL ='http://try.51eduline.com/data/upload';
        var MID		  = '884';
        var UID		  = '884';
        var initNums  =  '140';
        // Js语言变量
        var LANG = new Array();
        var info = {icon:0,time:1800,btn:false,title:'',closeBtn:0};
        var success = {icon:1,time:1800,btn:false,title:'',closeBtn:0};
        var error = {icon:2,time:1800,btn:false,title:'',closeBtn:0};
    </script>
    <script type="text/javascript" src="../addons/theme/stv1/_static/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../addons/theme/stv1/_static/js/core.js"></script>
    <script type="text/javascript" src="../apps/admin/_static/js/module.js"></script>
    <script src="../addons/theme/stv1/_static/js/common.js"></script>
    <script src="../addons/theme/stv1/_static/js/module.common.js"></script>
    <script type="text/javascript" src="../apps/admin/_static/js/admin.js"></script>
    <script type="text/javascript" src="../addons/theme/stv1/_static/js/ui.layer.js"></script>
    <!--非admin应用的后台js脚本统一写在  模板风格对应的app目录下的admin.js中-->
    <script type="text/javascript" src="../apps/classroom/_static/js/admin.js"></script>
    <script type="text/javascript" src="../js/vue.min.js"></script>
    <style>
        @font-face {font-family: 'iconfontNEW';src: url('http://try.51eduline.com/addons/theme/stv1/_static/icon/iconfontNEW.woff?v={$site.sys_version}');}
        .iconfontNEW{font-family: iconfontNEW;font-style: normal;}
    </style>
</head>
<body>
<div id="container" class="so_main">
    <!-- START TAB框 -->
    <div class="tit_tab">
        <ul>
            <li><a href="http://try.51eduline.com/index.php?app=classroom&mod=AdminTeacher&act=index&tabHash=index" class="on">已审</a></li><li><a href="http://try.51eduline.com/index.php?app=classroom&mod=AdminTeacher&act=unverify&tabHash=unverify" >待审</a></li><li><a href="addTeacher.html" >添加</a></li><li><a href="http://try.51eduline.com/index.php?app=classroom&mod=AdminTeacher&act=export&tabHash=export" >导出</a></li>
            <!-- 已审 -->
        </ul>
    </div>
    <!-- END TAB框 -->

    <!-- START 页面配置 -->
    <div id='page_config' class = "form2 list" >
        <div class="hd">提示：checkbox如果默认有多个值，请以“,”隔开。</div>
        <form action="http://try.51eduline.com/index.php?app=admin&mod=Index&act=savePageConfig" method="POST">
            <input type="hidden" name='pageKey' value="classroom_AdminTeacher_index"  class="s-txt"/>
            <input type="hidden" name='pageTitle' value="已审" />
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tr>
                    <th>字段</th>
                    <th class="line_l">名称</th>
                    <th class="line_l">是否隐藏</th>
                    <th class="line_l">点击事件</th>
                </tr>
                <tr overstyle="on">
                    <td width="20%"> <input type="hidden" name='key[]' value='id'> id</td>
                    <td width="30%"><input type="text" name='key_name[]' value='讲师id'  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                    <td width="20%">
                        <select name="key_hidden[]">
                            <option value="0" selected="selected">显示</option>
                            <option value="1" >隐藏</option>
                        </select>
                    </td>
                    <td width="30%"><input type='text' name='key_javascript[]' value=''  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                    <!-- <td style="background-color:#1E325C">
                    <a onclick="admin.moveUp($(this))" class="ico_top" title="上移"><img src="http://try.51eduline.com/addons/theme/stv1/_static/admin/image/zw_img.gif"></a> &nbsp;&nbsp;
                    <a onclick="admin.moveDown($(this))" class="ico_btm" title="下移"><img src="http://try.51eduline.com/addons/theme/stv1/_static/admin/image/zw_img.gif"></a>
                    </td> -->
                </tr>					<tr overstyle="on">
                <td width="20%"> <input type="hidden" name='key[]' value='face'> face</td>
                <td width="30%"><input type="text" name='key_name[]' value='头像'  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%">
                    <select name="key_hidden[]">
                        <option value="0" selected="selected">显示</option>
                        <option value="1" >隐藏</option>
                    </select>
                </td>
                <td width="30%"><input type='text' name='key_javascript[]' value=''  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <!-- <td style="background-color:#1E325C">
                <a onclick="admin.moveUp($(this))" class="ico_top" title="上移"><img src="http://try.51eduline.com/addons/theme/stv1/_static/admin/image/zw_img.gif"></a> &nbsp;&nbsp;
                <a onclick="admin.moveDown($(this))" class="ico_btm" title="下移"><img src="http://try.51eduline.com/addons/theme/stv1/_static/admin/image/zw_img.gif"></a>
                </td> -->
            </tr>					<tr overstyle="on">
                <td width="20%"> <input type="hidden" name='key[]' value='name'> name</td>
                <td width="30%"><input type="text" name='key_name[]' value='讲师名称'  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%">
                    <select name="key_hidden[]">
                        <option value="0" selected="selected">显示</option>
                        <option value="1" >隐藏</option>
                    </select>
                </td>
                <td width="30%"><input type='text' name='key_javascript[]' value=''  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <!-- <td style="background-color:#1E325C">
                <a onclick="admin.moveUp($(this))" class="ico_top" title="上移"><img src="http://try.51eduline.com/addons/theme/stv1/_static/admin/image/zw_img.gif"></a> &nbsp;&nbsp;
                <a onclick="admin.moveDown($(this))" class="ico_btm" title="下移"><img src="http://try.51eduline.com/addons/theme/stv1/_static/admin/image/zw_img.gif"></a>
                </td> -->
            </tr>					<tr overstyle="on">
                <td width="20%"> <input type="hidden" name='key[]' value='uname'> uname</td>
                <td width="30%"><input type="text" name='key_name[]' value='用户名称'  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%">
                    <select name="key_hidden[]">
                        <option value="0" selected="selected">显示</option>
                        <option value="1" >隐藏</option>
                    </select>
                </td>
                <td width="30%"><input type='text' name='key_javascript[]' value=''  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <!-- <td style="background-color:#1E325C">
                <a onclick="admin.moveUp($(this))" class="ico_top" title="上移"><img src="http://try.51eduline.com/addons/theme/stv1/_static/admin/image/zw_img.gif"></a> &nbsp;&nbsp;
                <a onclick="admin.moveDown($(this))" class="ico_btm" title="下移"><img src="http://try.51eduline.com/addons/theme/stv1/_static/admin/image/zw_img.gif"></a>
                </td> -->
            </tr>					<tr overstyle="on">
                <td width="20%"> <input type="hidden" name='key[]' value='info'> info</td>
                <td width="30%"><input type="text" name='key_name[]' value='简介'  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%">
                    <select name="key_hidden[]">
                        <option value="0" selected="selected">显示</option>
                        <option value="1" >隐藏</option>
                    </select>
                </td>
                <td width="30%"><input type='text' name='key_javascript[]' value=''  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <!-- <td style="background-color:#1E325C">
                <a onclick="admin.moveUp($(this))" class="ico_top" title="上移"><img src="http://try.51eduline.com/addons/theme/stv1/_static/admin/image/zw_img.gif"></a> &nbsp;&nbsp;
                <a onclick="admin.moveDown($(this))" class="ico_btm" title="下移"><img src="http://try.51eduline.com/addons/theme/stv1/_static/admin/image/zw_img.gif"></a>
                </td> -->
            </tr>					<tr overstyle="on">
                <td width="20%"> <input type="hidden" name='key[]' value='ctime'> ctime</td>
                <td width="30%"><input type="text" name='key_name[]' value='创建时间'  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%">
                    <select name="key_hidden[]">
                        <option value="0" selected="selected">显示</option>
                        <option value="1" >隐藏</option>
                    </select>
                </td>
                <td width="30%"><input type='text' name='key_javascript[]' value=''  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <!-- <td style="background-color:#1E325C">
                <a onclick="admin.moveUp($(this))" class="ico_top" title="上移"><img src="http://try.51eduline.com/addons/theme/stv1/_static/admin/image/zw_img.gif"></a> &nbsp;&nbsp;
                <a onclick="admin.moveDown($(this))" class="ico_btm" title="下移"><img src="http://try.51eduline.com/addons/theme/stv1/_static/admin/image/zw_img.gif"></a>
                </td> -->
            </tr>					<tr overstyle="on">
                <td width="20%"> <input type="hidden" name='key[]' value='is_del'> is_del</td>
                <td width="30%"><input type="text" name='key_name[]' value='状态'  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%">
                    <select name="key_hidden[]">
                        <option value="0" selected="selected">显示</option>
                        <option value="1" >隐藏</option>
                    </select>
                </td>
                <td width="30%"><input type='text' name='key_javascript[]' value=''  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <!-- <td style="background-color:#1E325C">
                <a onclick="admin.moveUp($(this))" class="ico_top" title="上移"><img src="http://try.51eduline.com/addons/theme/stv1/_static/admin/image/zw_img.gif"></a> &nbsp;&nbsp;
                <a onclick="admin.moveDown($(this))" class="ico_btm" title="下移"><img src="http://try.51eduline.com/addons/theme/stv1/_static/admin/image/zw_img.gif"></a>
                </td> -->
            </tr>					<tr overstyle="on">
                <td width="20%"> <input type="hidden" name='key[]' value='DOACTION'> DOACTION</td>
                <td width="30%"><input type="text" name='key_name[]' value='操作 　　'  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%">
                    <select name="key_hidden[]">
                        <option value="0" selected="selected">显示</option>
                        <option value="1" >隐藏</option>
                    </select>
                </td>
                <td width="30%"><input type='text' name='key_javascript[]' value=''  class="s-txt" style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <!-- <td style="background-color:#1E325C">
                <a onclick="admin.moveUp($(this))" class="ico_top" title="上移"><img src="http://try.51eduline.com/addons/theme/stv1/_static/admin/image/zw_img.gif"></a> &nbsp;&nbsp;
                <a onclick="admin.moveDown($(this))" class="ico_btm" title="下移"><img src="http://try.51eduline.com/addons/theme/stv1/_static/admin/image/zw_img.gif"></a>
                </td> -->
            </tr>			</table>
            <div class="page_btm">
                <input type="submit" class="btn_b" value="确定" />
            </div>
        </form>
    </div>
    <!-- END 页面配置 -->

    <!-- START 搜索配置 -->


    <div id='search_config' class = "form2 list" >
        <div class="hd">提示:checkbox如果默认有多个值,请以","隔开。</div>
        <form action="http://try.51eduline.com/index.php?app=admin&mod=Index&act=saveSearchConfig" method="POST">
            <input type="hidden" name='searchPageKey' value="S_classroom_AdminTeacher_index" />
            <input type="hidden" name='pageTitle' value="已审" />
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tr>
                    <th>字段</th>
                    <th class="line_l">名称</th>
                    <th class="line_l">输入类型</th>
                    <th class="line_l">提示信息</th>
                    <th class="line_l">验证事件</th>
                </tr>
                <tr overstyle="on" >
                    <td width="15%"><input type="hidden" name='key[]' value='name'> name</td>
                    <td width="20%"><input type="text" name='key_name[]' value='讲师名' class="s-txt"   style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                    <td width="20%"><select name='key_type[]'>
                        <option value='text' selected="selected">文本框:input_text</option>
                        <option value='select' >下拉框:select</option>
                        <option value='radio' >单选框:radio</option>
                        <option value='checkbox' >多选框:checkbox</option>
                        <option value='date' >日期插件:date</option>
                        <option value='hidden' >隐藏值:input_hidden</option>
                        <option value='user' >用户选择:selectUser</option>
                        <option value='define' >自定义</option>
                    </select></td>
                    <td width="20%"><input type='text' name='key_tishi[]' value='' class="s-txt"  style="width:200px"  onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                    <td width="20%"><input type='text' name='key_javascript[]' value='' class="s-txt"  style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                </tr>					<tr overstyle="on" >
                <td width="15%"><input type="hidden" name='key[]' value='uname'> uname</td>
                <td width="20%"><input type="text" name='key_name[]' value='用户名' class="s-txt"   style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%"><select name='key_type[]'>
                    <option value='text' >文本框:input_text</option>
                    <option value='select' >下拉框:select</option>
                    <option value='radio' >单选框:radio</option>
                    <option value='checkbox' >多选框:checkbox</option>
                    <option value='date' >日期插件:date</option>
                    <option value='hidden' >隐藏值:input_hidden</option>
                    <option value='user' selected="selected">用户选择:selectUser</option>
                    <option value='define' >自定义</option>
                </select></td>
                <td width="20%"><input type='text' name='key_tishi[]' value='' class="s-txt"  style="width:200px"  onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <td width="20%"><input type='text' name='key_javascript[]' value='' class="s-txt"  style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
            </tr>					<tr overstyle="on" >
                <td width="15%"><input type="hidden" name='key[]' value='mhm_id'> mhm_id</td>
                <td width="20%"><input type="text" name='key_name[]' value='机构名称' class="s-txt"   style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%"><select name='key_type[]'>
                    <option value='text' >文本框:input_text</option>
                    <option value='select' selected="selected">下拉框:select</option>
                    <option value='radio' >单选框:radio</option>
                    <option value='checkbox' >多选框:checkbox</option>
                    <option value='date' >日期插件:date</option>
                    <option value='hidden' >隐藏值:input_hidden</option>
                    <option value='user' >用户选择:selectUser</option>
                    <option value='define' >自定义</option>
                </select></td>
                <td width="20%"><input type='text' name='key_tishi[]' value='' class="s-txt"  style="width:200px"  onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <td width="20%"><input type='text' name='key_javascript[]' value='' class="s-txt"  style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
            </tr>					<tr overstyle="on" >
                <td width="15%"><input type="hidden" name='key[]' value='is_best'> is_best</td>
                <td width="20%"><input type="text" name='key_name[]' value='是否推荐' class="s-txt"   style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%"><select name='key_type[]'>
                    <option value='text' >文本框:input_text</option>
                    <option value='select' >下拉框:select</option>
                    <option value='radio' selected="selected">单选框:radio</option>
                    <option value='checkbox' >多选框:checkbox</option>
                    <option value='date' >日期插件:date</option>
                    <option value='hidden' >隐藏值:input_hidden</option>
                    <option value='user' >用户选择:selectUser</option>
                    <option value='define' >自定义</option>
                </select></td>
                <td width="20%"><input type='text' name='key_tishi[]' value='' class="s-txt"  style="width:200px"  onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <td width="20%"><input type='text' name='key_javascript[]' value='' class="s-txt"  style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
            </tr>					<tr overstyle="on" >
                <td width="15%"><input type="hidden" name='key[]' value='school_title'> school_title</td>
                <td width="20%"><input type="text" name='key_name[]' value='' class="s-txt"   style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" /></td>
                <td width="20%"><select name='key_type[]'>
                    <option value='text' >文本框:input_text</option>
                    <option value='select' >下拉框:select</option>
                    <option value='radio' >单选框:radio</option>
                    <option value='checkbox' >多选框:checkbox</option>
                    <option value='date' >日期插件:date</option>
                    <option value='hidden' selected="selected">隐藏值:input_hidden</option>
                    <option value='user' >用户选择:selectUser</option>
                    <option value='define' >自定义</option>
                </select></td>
                <td width="20%"><input type='text' name='key_tishi[]' value='' class="s-txt"  style="width:200px"  onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
                <td width="20%"><input type='text' name='key_javascript[]' value='' class="s-txt"  style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" ></td>
            </tr>			</table>
            <div class="page_btm">
                <input type="submit" class="btn_b" value="确定" />
            </div>
        </form>
    </div>
    <!-- END 搜索配置 -->

    <!-- START 搜索框 -->
    <div class="form2" id='search_form' >
        <form action="http://try.51eduline.com/index.php?app=classroom&mod=AdminTeacher&act=index&dosearch=1" method="post">
            <dl class="lineD" id='dl_name'>
                <dt>讲师名：</dt>
                <dd>

                    <input name="name" id="teachername" type="text"   class='s-txt' style="width:200px" onblur="this.className='s-txt'" onfocus="this.className='s-txt-focus'" >

                </dd>
            </dl>
            <dl class="lineD" id='dl_uname'>
                <dt>用户名：</dt>
                <dd>
          <div class="choose-user left">
                        <input style="display:none" name="avoidSubmitByReturn">
                        <input type="hidden" rel="uids" id="search_uids" name="uname" value="" >
                        <input event-node="search_user" event-args="name=uname&uid=&defaultValue=" value="" type="text" onfocus="this.className='s-txt-focus'" onblur="this.className='s-txt'" class="s-txt" name="" autocomplete="off"  >
                        <script type="text/javascript">
                            M.addEventFns({
                                search_user:{
                                    load:function(){
                                        var obj = $(this);
                                        if("undefined" == typeof(core.searchUser)){
                                            core.plugFunc('searchUser',function(){
                                                core.searchUser.init(obj,'0','0','','0','','');
                                                core.searchUser._stopUser();
                                            });
                                        }
                                    },
                                    click:function(){
                                        var args = M.getEventArgs(this);
                                        if(this.value == args.defaultValue){
                                            this.value = ''
                                        };
                                        var obj = $(this);
                                        core.searchUser.init(obj,'0','0','','0','','');
                                    },
                                    blur: function() {
                                        var args = M.getEventArgs(this);
                                        if(this.value == '' || this.value ==args.defaultValue) {
                                            this.value = args.defaultValue;
                                            core.searchUser.inputReset();
                                        }
                                    },
                                    focus: function() {
                                        var args = M.getEventArgs(this);
                                        if(this.value == args.defaultValue) {
                                            this.value = '';
                                        }
                                        core.searchUser.init($(this),'0','0','','0','','');
                                    }
                                }
                            });
                        </script></div>

                </dd>
            </dl>
            <dl class="lineD" id='dl_mhm_id'>
                <dt>机构名称：</dt>
                <dd>


                    <select name="mhm_id" id="form_mhm_id"  class='s-select' style="width:200px">
                        <option value="0"  selected="selected" >不限</option>
                        <option value="1" >测试机构1</option>
                        <option value="2" >测试机构2</option>
                        <option value="3" >测试机构3</option>
                        <option value="4" >测试机构4</option>
                        <option value="5" >测试机构5</option>
                        <option value="6" >测试机构6</option>
                        <option value="7" >测试机构7</option>
                        <option value="8" >测试机构8</option>
                        <option value="9" >测试机构9</option>
                        <option value="10" >测试机构10</option>
                        <option value="31" >牛顿课堂</option>
                        <option value="37" >金科教育</option>
                    </select>


                </dd>
            </dl>
            <dl class="lineD" id='dl_is_best'>
                <dt>是否推荐：</dt>
                <dd>
                    <label><input type="radio" name="is_best" value='0'  checked="checked"  >不限 </label> 										<label><input type="radio" name="is_best" value='1'   >是 </label> 										<label><input type="radio" name="is_best" value='2'   >否 </label>

                </dd>
            </dl>

            <input name="school_title" id="form_school_title" type="hidden" value=""  class='s-txt'>
            <div class="page_btm">
                <input type = "reset" value = "清空" class="btn_b" onclick="reset_search()">&nbsp;&nbsp;
                <input type="button"  onclick="ss()" value="确定" class="btn_b"> &nbsp;&nbsp;<input type="button" value="关闭" class="btn_w" onclick="admin.fold('search_form')">
            </div>
        </form>
    </div>
    <!-- END 搜索框 -->

    <!-- START TOOLBAR -->
    <div class="Toolbar_inbox">
        <!-- <div class="page right"><span>共15条</span></div> -->
        <a onclick="admin.fold('search_form')" class="btn_a"><span>搜索</span></a><a onclick="admin.delTeacherAll('disableTeacher','teacher')" class="btn_a"><span>删除</span></a>
    </div>
    <!-- END TOOLBAR -->

    <!-- START LIST -->
    <div class="list" id='list'>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>

                <th style="width:30px;">
                    <input type="checkbox" id="checkbox_handle" onclick="admin.checkAll(this)" value="0">
                </th>

                <th class="line_l"   >讲师id</th>
                <th class="line_l"   >头像</th>
                <th class="line_l"   >讲师名称</th>
                <th class="line_l"   >用户名称</th>
                <th class="line_l"   >简介</th>
                <th class="line_l"   >创建时间</th>
                <th class="line_l"   >状态</th>
                <th class="line_l"   >操作 　　</th>
            </tr>

            <tr overstyle="on" id="tr73" v-for="teacher in teacherList">

                <td><input type="checkbox" v-bind:value="teacher.id" onclick="admin.checkon(this)"  name="checkbox"></td>
                <td >
                    {{teacher.id}}
                </td>
                <td >
                <img src="" width='60px' height='60px'>
                </td>
                <td >
                <a href="http://try.51eduline.com/teacher/index/73.html" target="_bank">{{teacher.teachername}}</a>
                </td>
                <td >
                <a event-node="face_card" uid="1226" href="http://try.51eduline.com/user/index/1226.html" class="" target="_blank">{{teacher.username}}</a>
                </td>
                <td >
                {{teacher.introduction}}
                </td>
                <td >
                {{teacher.createdatetime}}
                </td>
                <td >
                <span style='color: green;'>正常</span>
                </td>
                <td >
                <a href="javascript:admin.mzTeacherEdit(73,'closeTeacher','禁用','讲师','teacher');">禁用</a> | <a href=http://try.51eduline.com/index.php?app=classroom&mod=AdminTeacher&act=add&id=73&tabHash=add;>编辑</a> | <a href=http://try.51eduline.com/index.php?app=classroom&mod=AdminTeacher&act=courseShow&id=73&tabHash=courseShow;>课程展示</a>
                </td>
            </tr>
        </table>
    </div>
    <!-- END LIST -->

    <!-- START BOTTOMBAR -->
    <div class="Toolbar_inbox">
        <div class="page right"><span>共15条</span></div>
        <!-- 	<a onclick="admin.fold('search_form')" class="btn_a"><span>搜索</span></a><a onclick="admin.delTeacherAll('disableTeacher','teacher')" class="btn_a"><span>删除</span></a> -->
    </div>
    <!-- END BOTTOMBAR -->
</div>
<script>
    function reset_search() {
        var url = $('#search_form form ').attr('action');
        window.location.href = url;
    }
</script>
<script type="text/javascript">
    document.onkeydown=function (e) {
        e=window.event||e;
        var key = e.keyCode;
        if ((e.ctrlKey && key == 82) || key == 116) {
            parent.MainIframe.location.reload();
            if(document.all) {
                e.keyCode = 0;
                e.returnValue = false;
            }else {
                e.cancelBubble = true;
                e.preventDefault();
            }
        }
    }
    /**
     * 初始化对象
     */
//表格样式
    function ss(){
        $.ajax({
            type:"post",
            url: "../teacherList",
            data: {
                teachername:$("#teachername").val()
            },
            dataType:"json",
            success: function (response) {
                console.info(response);
                vm.teacherList=response

            },
            error: function () {
                alert("系统错误，请联系管理员！");
            }
        })
    }
    $(document).ready(function(){
        admin.bindTrOn();});

    var vm;
    vm = new Vue({
        el: '#list',
        data: {
            teacherList: null
        }
    })
    $(function () {
      ss();
    })


</script>

</body>
</html>